<div class="ct-dp-cal" [ngClass]="{'hidden': mode != CalendarMode.Calendar}">
    <ct-calendar-grid></ct-calendar-grid>
</div>
<div class="ct-dp-months" [ngClass]="{'hidden': mode != CalendarMode.Month}">
    <ng-container *ngFor="let item of months;let i = index; trackBy: myTrackBy"><!--
        --><button tabindex="-1" class="ct-dp-btn ct-dp-month" [disabled]="disableBtn(item, 'month')" (click)="setMonth(i)">{{item}}</button>
    </ng-container>
</div>
<div class="ct-dp-years" [ngClass]="{'hidden': mode != CalendarMode.Year}">
    <ng-container *ngFor="let item of years;let i = index; trackBy: myTrackBy"><!--
        --><button tabindex="-1" class="ct-dp-btn ct-dp-year" [disabled]="disableBtn(item, 'year')" (click)="setYear(item)">{{item}}</button>
    </ng-container>
</div>