//Variables
@day-size: 30px;
@cal-width: @day-size * 7;
@month-width: @cal-width / 3;
@padding: 5px;
@full-width: @cal-width + (2 * @padding);
@gray: lighten(black, 50%);
@disabled: lighten(black, 75%);

.ct-dp-active {
    position: relative;
    input {
        position: relative;
    }
}

.ct-dp-shadow-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
}

.ct-dp-picker-wrapper {
    position: absolute;
    .display-below & {
        padding-top: 5px;
    }
    .display-above & {
        padding-bottom: 5px;
    }
}

.ct-dp-picker {
    width: @full-width;    
    &.ct-dp-dualpicker {
        width: 2 * @full-width;
    }
    border: 1px solid @gray;
    box-sizing: content-box;
    position: relative;
    background-color: white;
    transition: margin-left 0.5s;    
    &.ct-dp-picker-to {
        margin-left: 15px;
    }     
    .display-below & {
        margin-top: 14px;
    }
    .display-above & {
        margin-bottom: 14px;
    }
}


.ct-dp-caret-2, .ct-dp-caret-1 {
    .display-above & {
        top: 100%;
    }
    .display-below & {
	    bottom: 100%;
    }
    left: 10%;
	border: solid transparent;
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    transition: left 0.5s;
}
.ct-dp-caret-2 {
    border-color: rgba(136, 183, 213, 0);
    .display-below & {
        border-bottom-color: white;
    }
    .display-above & {
        border-top-color: white;
    }
    border-width: 14px;
    margin-left: -14px;
}
.ct-dp-caret-1 {
    border-color: rgba(194, 225, 245, 0);
    .display-below & {
    border-bottom-color: @gray;
    }
    .display-above & {
        border-top-color: @gray;
    }
    border-width: 16px;
    margin-left: -16px;
}

.ct-dp-header {
    border-bottom: 1px solid @gray;
}

.ct-dp-cal {
    padding: @padding;
    width: @full-width;
    float: left;
    &:after {
        &:extend(.clearfix);
    }
}

.ct-dp-cal-inactive {
    visibility: hidden;
}

.ct-dp-cal-header {
    color: @gray;
}

.ct-dp-cal-day {
    width: @day-size;
    height: @day-size;
    float: left;
    text-align: center;
    &:extend(.no-button);
}

.ct-dp-cal-day:disabled {
    color: @disabled;
}

.ct-dp-cal-day.active {
    background-color: lightblue;
}
.ct-dp-cal-day.between {
    background-color: lightgray;
}


.ct-dp-months, 
.ct-dp-years {
    width: @full-width;
    float: left;    
    padding: @padding;
    &:after {
        &:extend(.clearfix);
    }
}

.ct-dp-month,
.ct-dp-year {
    width: 33.33%;
    float: left;
    text-align: center;
}

.ct-dp-btn {
    padding: 4px;
    background-color: white;
    border: none;
    &:hover {
        background-color: lighten(@gray, 10%);
    }
    &[disabled]:hover {
        background-color: white;
    }
    &[disabled]{
        color: @disabled;
    }
}

.ct-dp-picker {
    .ct-dp-btn-prev, .ct-dp-btn-next {
        width: 10%;
    }

    .ct-dp-btn-month {
        width: 50%;
        font-weight: 500;
    }

    .ct-dp-btn-year {
        width: 30%;
        font-weight: 500;
    }
}

.ct-dp-picker.ct-dp-dualpicker {
    .ct-dp-btn-prev, .ct-dp-btn-next {
        width: 5%;
    }

    .ct-dp-btn-month {
        width: 25%;
    }

    .ct-dp-btn-year {
        width: 15%;
    }
}



//Utilities
.clearfix {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.no-button {
    background: transparent;
    border: none !important;
}

.pull-right {
    float:right;
}

.hidden {
    display: none !important;
}